<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container">
  <div class="header"></div>
  <div class="row ">
    <div class="col-sm-9">
      <div class="mt-5 border-bottom">
        <h1>Digital Signature <sub>
            <font size="2">Demo</font>
          </sub></h1>
      </div>
    </div>
    <div class="col-mt-4 col-sm-3"  *ngIf="show" >
      <button type="button" class="btn btn-success mt-4" (click)="downloadFile()">Descargar Documento Firmado&nbsp;<i
          class="fa fa-download fa-lg" aria-hidden="true"></i></button></div>
  </div>
</div>
<div class=" mt-4"></div>
<div class="container" >
  <div class="form-group">
    <!-- <label for="Textarea1">Example textarea</label> -->
    <textarea class="form-control" id="Textarea1" rows="13" style="resize: none;" [(ngModel)]="text"></textarea>
  </div>
  <select class="custom-select" (change)="changeType($event)" >
    <option *ngFor="let aType of TiposDeFirma" [ngValue]="aType">{{aType.key}}</option>
  </select>
</div>
<br>
<br>
<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)='Firmar()'><i
        class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Firmar</button>
    <!-- <button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-pencil fa-fw"
        aria-hidden="true"></i>&nbsp;Co - Firmar</button> -->
    <button type="button" class="btn btn-warning waves-effect waves-light" (click)="Verificar()"><i
        class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;Verificar Firmas</button>
    <!-- <button type="button" class="btn btn-danger waves-effect waves-light" (click)="showSuccess()"><i class="fa fa-eraser fa-fw"
        aria-hidden="true"></i>&nbsp;Revocar Firma</button> -->
  </div>
</div>


