<!-- Basic Usage -->
<!--
<lib-digitalsignature></lib-digitalsignature>
 -->

<!-- Advanced Usage - Service -->

<section class="ss-d ss-style-triangles">
  <div>
    <button type="button" class="btn btn-success" (click)="downloadFile()" [disabled]="!isEnabled">Descargar Documento
      Firmado&nbsp;
      <i class="fa fa-download fa-lg" aria-hidden="true"></i></button>
  </div>
</section>

<div class="container">
  <div class="form-group">
    <textarea class="form-control" id="Textarea1" rows="13" style="resize: none;" [(ngModel)]="text"></textarea>
  </div>
</div>

<div class="container">
  <ul>La firma digital utiliza la comprobacion por OSCP</ul>
  <ul> La firma electronica para nuestros casos de uso realiza exactamente los mismos pasos pero sin realizar la
    comprobacion por OSCP.</ul>
  <ul>Todas las respuestas del firmador NET 8 son JSON y el contenido de interes esta en el data.</ul>
</div>

<br>

<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)='FirmarDigital()'><i
        class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Firmar Digital</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)='FirmarElectronica()'><i
        class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Firmar Electronica</button>
    <button type="button" class="btn btn-danger waves-effect waves-light" (click)='preview()' [disabled]="!isEnabled"><i
        class="fa fa-eye fa-fw" aria-hidden="true"></i>&nbsp;Vista Previa</button>
    <!-- <button type="button" class="btn btn-warning waves-effect waves-light" (click)="Verificar()"><i
        class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;Verificar Firmas</button> -->
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="ping()"><i
        class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;Comprobar Firmador</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="verificarVersion()">
      <i class="fa fa-refresh" aria-hidden="true"></i>
      &nbsp;Comprobar Actualizaciones
    </button>
    <!-- <button type="button" class="btn btn-warning waves-effect waves-light" (click)="pdfSignature()"><i
        class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;Firmar PDF</button> -->
    <input type="file" id="pdfFileInput" style="display: none;" (change)="onFileSelected($event)">
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="triggerFileInput()">
      <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Firmar PDF
    </button>
    <button [disabled]="!Base64pdf" type="button" class="btn btn-primary waves-effect waves-light"
      (click)="descargarbase64()">
      <i class="fa fa-download" aria-hidden="true"></i>
      &nbsp;Descargar PDF
    </button>
  </div>
</div>

<br>

<div *ngIf="showPreview">
  <div class="container">
    <div class="form-group">
      <button type="button" class="btn btn-grey copy waves-effect waves-light" [ngxClipboard]="textArea2"
        (click)="copyMessage()"><i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;Copiar</button>

      <button type="button" class="btn btn-grey download waves-effect waves-light" (click)="downloadFile()"><i
          class="fa fa-download" aria-hidden="true"></i>&nbsp;Guardar</button>

      <textarea class="form-control textPreview" id="textArea2" #textArea2 rows="13" style="resize: none;"
        [(ngModel)]="textPreview" readonly></textarea>
    </div>

  </div>

</div>