<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img width="20" alt="Digital Signature" src="data:image/png;base64,
        iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAK6ElEQVR42u3dDayWVQHA8cv3VwgTKA
        YBZiZmVmCmiUWgswwlWTRSs9IiSlqGmkoIyaIRkDVMhhsKUgwtA0KIj3AgobsOMCFXEulQPvIiIQUI
        IZ/9n3bufHe798q9933f5+t/tv/m1On1vefn4bmc55yKU6dOVZhZ7fkhmAnETCBmAjETiJlAzARiJh
        AzgZgJxMwEYiYQM4GYCcQsE0Acpz/6jl3dmkbQaupU+NcmVlYtoul0vp9UzEMgZYdxNk2hPXQq1LkG
        kLV0KhT98Q3Uxk9PIFlF0YqG0yo6WQDjdIBUt5d+Rn39RAWSpdViMu2uBUVDgRS2hkZQaz9lgWRttS
        gGkOr20DQ6x09eIFlZLYoJpLAnaTi1clYLJM2rRamAVLebJtPZzm6BpHG1KDWQ6k7SShpGLZ3pAik1
        ipY0jFY2cbUoF5DCXqNJ1McZL5Biw+hDk+i1IqMoJ5DCVWU5DaUWzn6BNHW1WF6C1SJOIIXtpInUSw
        UCSdJqkRQg1Z2gpTSEmitCIHGvFkkDUth2mkA9lJFzIDGuFkkGUt1xWkxX5X5VyROQhKwWaQBS2DYa
        R90FklEgTMBeNJF2JQhFWoBUd4wW0pXUTCApB8Kka0FDaSmdSCiMNAEp7GW6i94tkJQBKVgtdiYcRZ
        qBVHeUHqcrMruqZAFIylaLLAEpbCvdQV0FkhAgKV0tsgqkurfoURqUiVUlbUAysFpkHUhhL9IYOlMg
        JQbCJHpvRlaLPAGp7gjNo08JpLgomtMQWkzHMwgjL0AK+wt9lzoLpPEwetAE2p5hFHkFUt1hmksDBO
        JqIZD6e4FG0xkCcbUQSN0dotl0ca6B5Hy1EMjptZlGUcfcAHG1EEgjOkiz6GOZBBJWi6tcLQRShP5E
        I6lD6oHwTe9O42ibAARS5A7QTOqXKiBhtfgMLaRjTnyBlKENdDO1TwMQVwuBxNW/6dtJB+JkF0iczR
        VItjoefnjRpgaQ6EH0FSe8QPLazrDxss7TQ6LDEugaWhEOfBOAQDLdyXBYRHRoRINONeQb/366j/aJ
        QCBZa0846LrJp60zAdqFn9hsFINA0t7acElnSW6BYjJ8POyGPSIMgaSlfTSdynaPIJOiC90Zzq8SiE
        ASWSXdRG3j2lMXHuqj83V/n+OHeoEkqIM0k/pVJGwwUd5HU8PNuAIRSFnbTKOoY0XCBxOmLX2N1gtE
        IKXsMM2liytSOqLt4jQnvOoqEIEUpRdpTM2tIGke0RE8dHs4PlQgAmlwR+lRGlSR4REe6qPrDZaES3
        QEIpB6i3Yi30XZP5D5/7H0oZ/QHoEIpLbNgtE7LLm/fowJ1oZupGcFkm8g77hZUCxV/enhcNKIQHIA
        pNGbBXMOpXM4X/fvAskmkKJtFsw5lGbhdqnFCX6oF0hSNgvmHEtv+jG9LpB0ASn7ZsGcQ2lN19MzAk
        k+kKfj3CwolqqPhu33AkkokMVO09iRnCUQgTgEIhCHQATiKDaQPgIRiKP+31QUiEAcAhGIQyACcQhE
        IA6BCEQgAhGIQAQiEIEIRCACEYhABFLfiN5spAupfY2J1i/2+8EFIpAYQHSmz9EkWk1vhq/9rBoTbW
        14a28TPUDXUU+BCCRTQKIXt+hmmhUOoTtZx9deG5DaJsCrNJ9uoQ9HZ1sJRCCpABL9MokG0lhaQnsb
        8LWfLpDabnZdTuNoYHTBjkAEkggg/Pt6hnfeo1d8NzTxXvjGAqnZ0XCm1U9pGHUTiEBKDoR/dku6iG
        6lX9OOIn/txQJSW3+j2eHqtnMFIpBigOhCQ8JxQU/RoRJ/7aUEUrPoJJJFdAddQq0EIpD6MDSjD9I3
        aDZtieFrLyeQmkXXITwVjvGJDrPuJJAcA+Hv60CDaRwtozcScFxRnEBqFv14+c80Mxzp01sgGQbCn+
        9N19Ev6LlwYHXSTn9MEpDa2kGP0ehwvE9zgaQQCLWKboEKl948Tv9IyWHaSQdSs/20ksbTYGovkOQD
        ORiuSkvj3SRpA1KzY+EexJkC8RJPgXi6u0AEIhCBCEQgAhGIQAQiEBOIQEwgAhGIQEwgArG6r6D+I8
        2he8I2mLY1gFxG36P7aVnYsn5UAALJQkdpa9gI+UDY9jKUPkRtmrBTtnm4XuBy+iZNpYXhvfWD4hBI
        ktpPz9NvaQqNDDuE+1As74lHbw/SAPoKTaR5VEn/FIhASlG00XEdPUIT6IawEbJLCo/j6Uj9aTjdTQ
        /RGtpOJwUikLp+KfQSraAZdBtdSxdQu4qcjHCV83l0dQaeewTSwA7QJlpI02gUXRH91Cg6tK3C0dDn
        nim0IDz3HBBIuoDsoh/Sl+kT1M0pXpbnnkvDc8+94YcGAkkokLVO2djBeMutQBwCEYhDIAJxCEQgDo
        EIRCACEYhABCIQgQhEIAIRiEAEIhCBCMQhEIE4BCIQh0AE4hBIXoEsdooKRCACEYhABCIQgQhEIAIR
        iEAEIhCHQATiEIhAHAIRiEMgAnEIRCACSQyOFvR5gQjE8TaKrnQjzac3PHpUIHkHEZ3Ve1G4XmF9Ak
        +GF4hAyo7iTLqefkV7PN1dIHkH0YwupPH0DJ3w+gOB5B1FZ/oizaHdXqAjEFFUVn2ExtI6Ou4NUwLJ
        O4joGrYv0MO0yzsKBSKKyqoL6PvhPsI8XCMtEIHUC6JD+M26B8MFnV4DLZB8A2FS9KUx9CS95T3pAs
        k1ECZBOxpCM2hbzkEIRCD/Q3EO3Uor6D9CEEiugfCNbkufpem01YkvkNwDCVvFb6GldNjJLpBcA+Gb
        2Zoup5/TFie3QHIPhG9gL/oWLaaDTmiB5BoI37BWNIim0gtOYIHkHgjfpB70dVpAB5y0Ask1kPCq6S
        dpMm12kgok90D4RryHbqLf0L+cmALJNZCwSlxKP6LnEviqaZ6LXuhaS7dRn6QDeTBrQPjQL0vIgQT2
        dm/SIvpq9EpwSX+5UGQgzWJEUiogw5yQiaiKZtHV0U6Dsj1kFhNINJiozWm+QKwI/TX88OOS6ESVWH
        4sWWwgAUmLGJAIJBvPE+vCS14fSMRvZpUCSExIBJLODtHvwk8FuyZu+0OpgMSARCDp6XV6iK6J3m9J
        9P6gUgIpMxKBJLstYcvNgNieJ5IIpIxIFggkcc8T0cFzd9K5qX0PoRxAyoRkrkBiL3rb8YmwF61bJt
        5eKxeQAiRPCCRT7QknMl6b+OeJpAMJSFrTEoGkuug14Glhl0HziiyPcgMpIRKBlK5o71kl3U3nVeRp
        xAGkREgEUvzniSU0Mtq9XJHXEReQEiARSNPbS4+E/+b2FY54gRQZiUAa10t0Hw2MtvUrImFAiohEIK
        f/PPEs/YDOV0AKgBQgWSWQknSEltEo6u6sTyGQgKQ9rRFIUYpe8vpluBPkXc70DABpIhKBVFa9HA6i
        +7TPExkF0gQkeQWyge6JLstxNucESCOR5AVIdAfI8nBCYw9ncE6BNAJJloHso3nhJlqfJwTSKCRZA/
        JKuP5gMLV0pgrknZA8nQMgG2l8dEWzM1MgDUXSidZnDEj0PPEHGk09nY0CKSWStACJjiqdTyPoDGeg
        QMqFJMlAXqX7w4U5rZx1AokDSdKAPE/3Uj9nmUDKCqQOJHEDOUqr6DvRTVLOLIHECqQWJHEA2U+P0Z
        eok7NJIIkCUoBkYxmB7KAZdKXPEwJJPJCApBvdXkIgm2gi9XfGCMTMqv+n74dgJhAzgZgJxEwgZgIx
        E4iZQMwEYiYQMxOImUDMBGJWyv4LTkWlHzn1H94AAAAASUVORK5CYII=">
      </a>
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <!-- Buscador embebido en nadvar -->
    <!-- <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </form> -->
  </div>
</nav>
