<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Demo.Properties.Settings>
      <setting name="WebAppPort" serializeAs="String">
        <value>8400</value>
      </setting>
      <setting name="WebAppBaseUrl" serializeAs="String">
        <value>https://localhost</value>
      </setting>
      <setting name="SignaturePolicyInfoPolicyIdentifier" serializeAs="String">
        <value>urn:oid:2.16.724.1.3.1.1.2.1.8</value>
      </setting>
      <setting name="SignaturePolicyInfoPolicyHash" serializeAs="String">
        <value>V8lVVNGDCPen6VELRD1Ja8HARFk=</value>
      </setting>
      <setting name="SignaturePolicyInfoPolicyUri" serializeAs="String">
        <value>http://administracionelectronica.gob.es/es/ctt/politicafirma/politica_firma_AGE_v1_8.pdf</value>
      </setting>
      <setting name="FiscaliaEnGoogleMAps" serializeAs="String">
        <value>https://www.google.com/maps/place/Fiscal%C3%ADa+de+Estado/@-34.9149269,-57.9377341,17z/data=!3m1!4b1!4m5!3m4!1s0x95a2e619d798ea5f:0xaa78c0a6a7e5167!8m2!3d-34.9149269!4d-57.9355454</value>
      </setting>
      <setting name="FiscaliaWeb" serializeAs="String">
        <value>http://www2.fepba.gov.ar/</value>
      </setting>
    </Demo.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>