<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Demo.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>8400</value>
            </setting>
            <setting name="SignaturePolicyInfoPolicyIdentifier" serializeAs="String">
                <value>urn:oid:2.16.724.1.3.1.1.2.1.8</value>
            </setting>
            <setting name="SignaturePolicyInfoPolicyHash" serializeAs="String">
                <value>V8lVVNGDCPen6VELRD1Ja8HARFk=</value>
            </setting>
            <setting name="SignaturePolicyInfoPolicyUri" serializeAs="String">
                <value>https://www.argentina.gob.ar/jefatura/innovacion-publica/innovacion-administrativa/firma-digital</value>
            </setting>
            <setting name="FiscaliaEnGoogleMAps" serializeAs="String">
                <value>https://www.google.com/maps/place/Fiscal%C3%ADa+de+Estado/@-34.9149269,-57.9377341,17z/data=!3m1!4b1!4m5!3m4!1s0x95a2e619d798ea5f:0xaa78c0a6a7e5167!8m2!3d-34.9149269!4d-57.9355454</value>
            </setting>
            <setting name="FiscaliaWeb" serializeAs="String">
                <value>https://authentica.fepba.gov.ar/</value>
            </setting>
            <setting name="Reason" serializeAs="String">
                <value>Integrity of the document.</value>
            </setting>
            <setting name="Country" serializeAs="String">
                <value>Argentina</value>
            </setting>
            <setting name="CertificateName" serializeAs="String">
                <value>Authentica</value>
            </setting>
            <setting name="AuthenticationServer" serializeAs="String">
                <value>1.3.6.1.5.5.7.3.1</value>
            </setting>
            <setting name="DnsName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CertificateKey" serializeAs="String">
                <value>SuperKey</value>
            </setting>
            <setting name="HttpProtocol" serializeAs="String">
                <value>https</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>3.0.7</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Authentica</value>
            </setting>
            <setting name="OntiIssuer" serializeAs="String">
                <value>30680604572</value>
            </setting>
        </Demo.Properties.Settings>
    </applicationSettings>
    <appSettings>
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
</configuration>