
  <div class="modal-body ">

    <div class="modal-header">
      <h4 class="modal-title pull-left"> {{ title }} </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Emitido&nbsp;para</th>
          <th scope="col">Estado</th>
          <th scope="col">Mensaje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aDate of data; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ arrCN[i] }}</td>
          <td *ngIf="aDate.IsValid == true">
            <img src="assets/icon/check.png" alt="Valido" height="25" width="25">
          </td>
          <td *ngIf="aDate.IsValid != true">
            <img src="assets/icon/uncheck.png" alt="Invalido" height="25" width="25">
          </td>
          <td>{{ aDate.Message }}</td>
        </tr>
      </tbody>
    </table>

  </div>
