<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>19</ApplicationRevision>
    <ApplicationVersion>3.0.4.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://cdn.fepba.gov.ar/authentica/installer/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>\\servidor51.dmz.fepba.gov.ar\IIS\cdn\authentica\installer\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <TrustUrlParameters>True</TrustUrlParameters>
    <UseApplicationTrust>True</UseApplicationTrust>
    <ProductName>Authentica</ProductName>
    <PublisherName>Fiscalia de Estado de la Provincia de Buenos Aires</PublisherName>
    <SupportUrl>https://authentica.fepba.gov.ar/</SupportUrl>
    <BootstrapperComponentsLocation>Absolute</BootstrapperComponentsLocation>
    <BootstrapperComponentsUrl>https://authentica.fepba.gov.ar/instalar/dependency/</BootstrapperComponentsUrl>
    <ManifestCertificateThumbprint>4438C5D5E10BACD977C5679E97DC2266387EA38A</ManifestCertificateThumbprint>
    <ManifestKeyFile>2025_02_18_Cert_CIFE_firma_codigo_v1_1.pfx</ManifestKeyFile>
    <ExcludeDeploymentUrl>False</ExcludeDeploymentUrl>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <History>True|2025-03-17T16:17:07.6571707Z;True|2025-03-12T14:24:35.2023405-03:00;True|2025-03-12T14:22:23.9102397-03:00;True|2025-02-27T13:10:02.0353013-03:00;True|2025-02-27T12:18:12.5297034-03:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include=".NETFramework,Version=v4.7.2">
      <Install>true</Install>
      <ProductName>Microsoft .NET Framework 4.7.2 (x86 and x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>