<header>
  <br><br>
    <div class="container">
        <div class="text-center border-bottom">
          <div class="row" style="display:inline-flex; vertical-align: middle;">
            <div class="logo">
              <img src="assets/logos/logo-fiscalia.png" alt="Logo Fiscalía de Estado" class="logo-fisca" height="53"
                width="251">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <h1>CertiFisc<sub>
                <font size="2">Demo</font>
              </sub></h1>
          </div>
        </div>
      </div>
</header>
