/* You can add global styles to this file, and also import other style files */
.dev {
  background-color: aqua;
  padding: 10px 10px;
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
